<launch>
    # set to true if the gazebo_state_plugin/gazebo_object_info world plugin should be loaded
    <arg name="load_gazebo_objects_plugin" default="true"/>

    # load the world plugin loader (in package gazebo_world_plugin_loader) which launches several
    # world plugins according to the specification in the ROS parameters. Note that you will
    # have to load those parameters on the ROS parameter server BEFORE gazebo gets launched.
    <arg name="load_world_plugins" default="true"/>

    <include file="$(find sim_gazebo)/launch/launch_from_config.launch"/>

</launch>