<launch>
    <node name="davinci_needle_handoff_perturbation_test" pkg="cwru_davinci_dual_arm_manipulation_planner" type="davinci_needle_handoff_perturbation_test" respawn="false" output="screen">
        <rosparam command="load" file="$(find cwru_davinci_grasp)/config/dvrk_psm_grasp_needle_data.yaml"/>
        <rosparam command="load" file="$(find cwru_davinci_dual_arm_manipulation_planner)/dual_arm_manipulation_planner_interface/config/hardware_handoff_planning_inputs.yaml"/>
        <rosparam command="load" file="$(find cwru_davinci_dvrk_both_psms_moveit_config)/config/ompl_planning.yaml"/>
        <param name="/planning_plugin" value="ompl_interface/OMPLPlanner"/>
        <param name="num_test" type="int" value="20"/>
    </node>
</launch>
